
.title-portfolio{
  color: var(--color-dark-accent);
  padding: 180px 0 120px;
}

.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-top: 60px;
}


