.portfolio-section {
  padding-top: 60px;

&-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-top: 24px;
  }
  .title-portfolio {
    color: var(--color-dark-accent);
    padding-bottom: 48px;
  }


  @media screen and (min-width: 1024px) {
    padding: 180px 0;
    .portfolio-grid {
      gap: 60px;
      padding-top: 60px;
    }
    .title-portfolio{
      padding-bottom: 120px;
    }
  }
}
