.filter-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &-item {
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--color-dark);
    background-color: var(--color-light-text);
    font-family: "Neutral Sans Regular";
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    &:active {
      background-color: var(--color-accent);
    }
  }
}

.active-btn {
  background-color: var(--color-accent);
  color: var(--color-text-second);
}

@media screen and (min-width: 1024px) {
  .filter-btns {
    gap: 30px;
    &-item {
      font-size: 18px;
      padding: 15px 25px;
      line-height: 100%;
      letter-spacing: 6%;
    }
  }
}
