

.filter-btns {
    display: flex;
    gap: 30px;
    margin: 40px 0;
  
    &-item {
      border: none;
      border-radius: 16px;
      padding: 15px 25px;
      font-size: 20px;
      color: var(--color-text);
      &:active {
        background-color: var(--color-hover);
      }
    }
  }

  .active-btn{
    background-color:var(--color-text-contrast);
    color: var(--color-text-second);
}