

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

.accent-text-title {
  color: var(--color-text-contrast);
  font-size: 28px;
  font-weight: 500;
}

.content-text {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;

  &-accent {
    color: var(--color-text-contrast);
    font-weight: 600;
  }
}

.title {
  color:var(--color-title);
  font-weight: 400;
  font-size: 28px;

  &-item {
    color: var(--color-text-contrast);
    font-weight: 600;
    font-size: 14px;
  }
}

.dark-mode {
  background-color: var(--color-dark-font-main);
  color: var(--color-dark-text);


  .accent-text-title{
    color: var(--color-dark-text-accent);
  }
  .title {
    color: var(--color-dark-title);

    &-item {
      color: var(--color-dark-text-accent);
    }
  }
  .content-text {
    color: var(--color-dark-text);

    &-accent{
      color: var(--color-dark-text-accent);
    }
  }
}


@media screen and (min-width: 1024px) {
  .accent-text-title {
    font-size: 36px;
    font-weight: 500;
  }
  
  .content-text {

    font-size: 18px;
    font-weight: 400;
    &-accent {
      font-weight: 600;
    }
  }
  
  .title {

    font-weight: 400;
    font-size: 36px;
  
    &-item {
      font-weight: 600;
      font-size: 18px;
    }
  }
}
