a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

.title-section {
  font-size: clamp(82px, 15vw + 20px, 480px);
  font-weight: 500;
  letter-spacing: -1.34px;
  font-family: "Neutral Sans Meidum";
  text-transform: uppercase;
}


.text-accent {
  font-size: 24px;
  font-family: "Neutral Sans Bold";
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.4px;
  vertical-align: bottom;
  text-transform: uppercase;
}

.accent-text-title {
  color: var(--color-text-contrast);
  font-size: 28px;
  font-weight: 500;
}
.dark-section{
  background-color: var(--color-dark);
}

.dark-mode {
  .dark-section{
    background-color: var(--color-dark-grey);
  }
}

@media screen and (min-width: 1024px) {
  .text-accent {
    font-size: 82px;
    font-family: "Neutral Sans Medium";
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -0.4px;
    vertical-align: bottom;
  }
}
