@use "vars" as *;
@use "typography" as *;

// *{
//   outline: 1px solid red;
// }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Neutral Sans Black";
  src: url("/fonts/NeutralSans-Black-BF673417d54e198.otf") format("opentype");
}
@font-face {
  font-family: "Neutral Sans Bold";
  src: url("/fonts/NeutralSans-Bold-BF673417d49d91f.otf") format("opentype");
}
@font-face {
  font-family: "Neutral Sans Meidum";
  src: url("/fonts/NeutralSans-Meidum-BF673417d4df1bc.otf") format("opentype");
}
@font-face {
  font-family: "Neutral Sans Regular";
  src: url("/fonts/NeutralSans-Regular-BF673417d506f9f.otf") format("opentype");
}

body {
  scroll-behavior: smooth;
}

.container {
  max-width: 1574px;
  margin: 0 auto;
}

.horizontal-section {         
  overflow: hidden;
}

.horizontal-title {
  white-space: nowrap;
  will-change: transform;
}