
:root {
  --color-dark:#292828;
  --color-dark-grey:#6D6B6B ;
  --color-accent:#AFFF9A;
  --color-light-text:#EFEFEF ;
  --color-contrast:#E7AB4B;
  --color-dark-accent: #135B00;
  --color-light:#D6D6D6 ;
  }
  