.experiense-section {
  padding: 60px 0;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .title-main-experience {
    color: var(--color-dark-accent);
    padding-bottom: 48px;
  }

  .experience-wrapper {
    font-size: 18px;

    .experience-title {
      font-family: "Neutral Sans Bold";
      font-weight: 700;
      font-size: 24px;
      line-height: 31.2px;
      letter-spacing: -0.3px;
      vertical-align: middle;
      color: var(--color-dark-accent);
      padding-bottom: 12px;
    }

    .experience-item {
      border-bottom: 1px solid var(--color-dark);

      &-date {
        font-family: "Neutral Sans Regular";
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 34px;
        color: var(--color-dark);
      }
      &-icon{
          transition: transform 0.3s ease;
        
          &.active {
            transform: rotate(180deg);
          }
      }

      &-certificate {
        font-family: "Neutral Sans Bold";
        font-weight: 700;
        letter-spacing: -0.4px;
        line-height: 32px;
        font-family: Neutral Sans;
        text-transform: uppercase;
        color: var(--color-contrast);
      }

      &-title {
        padding: 16px 12px;
        .experience-title-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 16px;
        }

        &:hover,
        &.active {
          border-bottom: 1px solid var(--color-dark);
          background-color: var(--color-light-text);
        }
      }
      &-name{
        font-family: "Neutral Sans Bold";
font-weight: 700;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.4px;
vertical-align: middle;
text-transform: uppercase;

      }
      &-company{
        font-family: "Neutral Sans Regular";
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 6%;
vertical-align: middle;

      }
    }
    .experience-content {
      display: flex;
      flex-direction: column;
      gap: 24px;

      transition: max-height 0.5s ease;
      padding: 16px 12px;
      box-sizing: border-box;

      &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-text {
        font-family: "Neutral Sans Regular";
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.4px;
        vertical-align: middle;
      }
    
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 140px 0 180px;
    &-wrapper {
      gap: 24px;
    }

    .title-main-experience {
      padding-bottom: 120px;
    }
    .experience-wrapper {
      font-size: 24px;
      .experience-title {
        font-size: 36px;
        padding-bottom: 24px;
      }
      .experience-item-title {
        padding: 24px;
      }
      .experience-item-date {
        padding-bottom: 24px;
      }
      .experience-content {
        padding: 24px;
      }
    }
  }
}
