
@use 'vars' as *;
@use 'typography' as*;

body {
  background-color: var(--color-font-main);
  // $color-font-main;
  /* background-color: var(--color-black);
  color: var(--color-white); */
  /* font-family: "Montserrat", "Roboto", "Lato", sans-serif; */
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 16px 20px;
  margin: 100px auto 0;
  
}

