// $color-font-main:rgb(162 167 154 / 46%);
// $color-title: #4A4A4A;
// $color-text: #555555;
// $color-text-contrast: #3b7d2a;
// $color-hover: #2e5a1c;
// $color-text-second: #D1D5DB;
// $color-text-accent: #A3B18A;


// $color-dark-font-main: #2E2E2E;    
// $color-dark-title: #EAEAEA;        
// $color-dark-text: #CCCCCC;         
// // $color-dark-text-contrast: #2c7f16;     
// // $color-dark-text-second: #A1A1A1;   
// $color-dark-text-accent: #37b65c ;


/* global.css */
:root {
    --color-font-main: rgb(162 167 154 / 46%);
    --color-title: #4A4A4A;
    --color-text: #555555;
    --color-text-contrast: #3b7d2a;
    --color-hover: #2e5a1c;
    --color-text-second: #D1D5DB;
    --color-text-accent: #A3B18A;
    
    --color-dark-font-main: #2E2E2E;    
    --color-dark-title: #EAEAEA;        
    --color-dark-text: #CCCCCC;         
    --color-dark-text-accent: #37b65c;
  }
  