.hamburgerMenu {
  position: absolute;
  right: 20px;
  z-index: 1010;
  cursor: pointer;
  fill: #FFFF;
}

.mobileNavigation {
  transition: all 0.3s ease;
  &.closed {
    .mobileNavigation-menu {
      display: none;
    }
  }

  &.open {
    .mobileNavigation-menu {
      display: flex;
      position: static;
      flex-direction: column;
      align-items: center;
      gap: 181px;
      padding: 100px 0 40px ;
    }
  }
}

.mobileHeader-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

@media screen and (min-width: 1024px) {
  .mobileHeader-bar {

    padding: 20px 20px;
  }

  .mobileNavigation {
    display: none;
  }
}
