.hamburgerMenu {
  position: absolute;
  right: 20px;
  z-index: 1010;
  cursor: pointer;
  fill: var(--color-text-contrast);
}

.mobileNavigation {
  transition: all 0.3s ease;
  &.closed {
    .mobileNavigation-menu {
      display: none;
    }
  }

  &.open {
    .mobileNavigation-menu {
      display: flex;
      position: static;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      padding: 40px 0;
      opacity: 0.9;
      border-top: 2px solid var(--color-text-contrast);
    }
  }
}

.mobileHeader-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  padding: 20px 20px;
  &-logo {
    color: var(--color-text-contrast);
    font-weight: 800;
    text-shadow: 1px 1px 2px var(--color-text-accent);
  }
}

@media screen and (min-width: 1024px) {
  .mobileNavigation {
    display: none;
  }
}
