.contacts-nav {
  display: flex;
  align-items: center;
  gap: 20px;

  .cv-block-dark,
  .cv-block-light {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    border-radius: 30px;
    padding: 0 10px;
    &:hover {
      background-color: #3b7d2a;
      color: white;
      border-color: white;
    }
  }

  .cv-block-dark {
    border: 1px solid black;
  }

  .cv-block-light {
    border: 1px solid white;
  }
}
