.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Neutral Sans Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-top: 43px;
    width: 100%;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    input,
    textarea {
      font-size: 16px;
      background-color: var(--color-dark);
      border: 1px solid #ffffff;
      padding: 10px;
      transition: 0.3s ease;

      &:focus {
        border: 1px solid var(--color-accent);
      }
    }

    textarea {
      min-height: 131px;
      resize: vertical;
    }

    .bnt-submit {
      background: var(--color-accent);
      color: var(--color-dark);
      padding: 15px;
      width: 100%;
      border: none;
      transition: 0.3s ease;
      font-family: "Neutral Sans Regular";
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 6%;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;

      &:hover {
        background: var(--color-hover);
      }
    }
  }

  .status-message {
    padding: 15px;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 18px;
    text-align: center;
    animation: fadeIn 0.5s ease-out;

    &.success {
      color: var(--color-text-contrast);
    }

    &.error {
      color: #721c24;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (min-width: 1024px) {
    .contact-form-info {
      flex-direction: row;
    }

    .bnt-submit {
      width: 20%;
    }
  }
}
.dark-mode{
  .contact-wrapper .contact-form input, .contact-wrapper .contact-form textarea {

    background-color: var(--color-dark-grey);
  
}
}