.contacts-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 154px;

  .cv-block {
    color: var(--color-accent);
    font-size: 28px;
    letter-spacing: 4px;
    
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .contacts-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;

    .contact-icon {
      width: 25px;
      height: 25px;
      fill: #ffffff;
      transition: fill 0.3s ease, transform 0.3s ease;

      &:hover {
        fill: var(--color-accent);
        transform: scale(1.1);
      }
    }

    @media screen and (min-width: 1024px) {
      .contact-icon {
        width: 75px;
        height: 75px;
      }
    }
  }
}
