.contacts-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 86px;

  .cv-block {
    color: var(--color-accent);
    letter-spacing: 4px;
    font-family: "Neutral Sans Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;

    transition: all 0.3s ease;
    cursor: pointer;
  }

  .contacts-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    order: 2;

    .contact-icon {
      width: 25px;
      height: 25px;
      fill: #ffffff;
      transition: fill 0.3s ease, transform 0.3s ease;

      &:hover {
        fill: var(--color-accent);
        transform: scale(1.1);
      }
    }
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cv-block {
      font-family: "Neutral Sans Medium";
      font-weight: 500;
      font-size: 28px;
      line-height: 92%;
      order: 2;
    }

    .contacts-social {
      justify-content: center;
      gap: 27px;
      .contact-icon {
        width: 75px;
        height: 75px;
      }
    }
  }
}
