.desktopNavigation {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktopNavigation {
    display: flex;
    gap: 30px;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: auto; 
    transition: transform 0.3s ease;
    background-color: var(--color-dark);
  }

  .dark-mode{
    .desktopNavigation{
      background-color: var(--color-dark-grey);
    }
  }

  .header-main-links{
    display: flex;
    gap: 42px;
  }
}
