@import "../../styles//vars.scss";

.title-portfolio{
    text-align: center;
}

.filter-btns {
  display: flex;
  gap: 30px;
  margin: 40px 0;

  &-item {
    border: none;
    border-radius: 16px;
    padding: 15px 25px;
    font-size: 20px;
    color: $color-text;
    &:active {
      background-color: $color-hover;
    }
  }
}

.portfolio-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.active-btn{
    background-color:$color-text-contrast;
    color: $color-text-second;
}
