.intro-section {
  background-color: var(--color-dark);
  padding: 318px 0 120px ;

  .text-intro {
    color: var(--color-light-text);

    &-contrast {
      color: var(--color-accent);
    }
  }
  .text-intro-name{
    padding-top: 82px;
  }
}

.dark-mode {
  .intro-section {
    background-color: var(--color-dark-grey);
  }
}
