.intro-section {
  padding: 149px 0 38px;
  background-image: url('/images/color2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% center;

  .text-intro {
    color: var(--color-light-text);
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    &-contrast {
      color: var(--color-accent);
    }
  }
  .text-intro-name {
    padding: 40px 0 24px;
  }
}

.dark-mode{
  .intro-section{
    background-image: url('/images/color1.svg');
  }

}


@media screen and (min-width: 1024px) {
  .intro-section {
    // padding: 318px 0 120px;
    .text-intro {
      .text-intro-name {
        padding: 65px 0;
      }
    }
  }
}
