.about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    &-title{
      margin-top: 60px;
    }
    
   
    @media screen and (min-width: 1024px) {
      flex-direction: row; 
      &-title {
      flex-basis: 40%;
      margin-top: 60px;
    }
    }
  }